* {
  margin: 0;
  padding: 0; }

.content {
  max-width: 1340px;
  margin: 0 auto;
  display: block; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

body {
  padding: 10px; }

#output {
  margin-top: 20px;
  border-collapse: collapse; }
  #output td {
    padding: 5px 10px;
    border: 1px solid #303030; }
    #output td:last-child {
      text-align: center; }
