* {
  margin: 0;
  padding: 0; }

.content {
  max-width: 1340px;
  margin: 0 auto;
  display: block; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

body {
  padding: 10px;
  font-family: Geneva, Arial, Helvetica, sans-serif; }

.create_wrapp {
  display: inline-block;
  margin-bottom: 60px; }

.create_task td {
  padding-bottom: 10px;
  vertical-align: top; }

.create_task input, .create_task textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 6px;
  min-width: 180px; }

.create_task textarea {
  resize: none; }

.create_task label {
  margin-right: 10px; }

#add_task {
  background: none;
  outline: none;
  padding: 5px 8px;
  border: 1px solid #303030;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  display: block;
  margin-left: auto;
  cursor: pointer; }

#output {
  border-collapse: collapse;
  position: relative; }
  #output tr p {
    position: absolute;
    right: -75px;
    margin-top: -25px;
    cursor: pointer;
    display: none; }
  #output tr input[type=checkbox] {
    outline-color: red;
    -webkit-transition: .7s;
    transition: .7s; }
    #output tr input[type=checkbox]:checked {
      outline-color: green; }
    #output tr input[type=checkbox]:checked + p {
      display: block;
      border: 2px solid rgba(0, 255, 0, 0.6);
      color: rgba(0, 255, 0, 0.6);
      padding: 1px 4px;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      #output tr input[type=checkbox]:checked + p:hover {
        background: rgba(0, 255, 0, 0.6);
        color: #fff; }
    #output tr input[type=checkbox]:checked::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 50%;
      margin-top: 6px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background: lightgreen;
      -webkit-animation: task_done 2s;
              animation: task_done 2s; }
  #output td {
    padding: 5px 10px;
    border: 1px solid #303030;
    max-width: 150px;
    word-break: break-word; }
    #output td:last-child {
      text-align: center; }

@-webkit-keyframes task_done {
  0% {
    width: 0;
    background: red; }
  100% {
    width: 100%;
    background: lightgreen; } }

@keyframes task_done {
  0% {
    width: 0;
    background: red; }
  100% {
    width: 100%;
    background: lightgreen; } }
